Source: libadjoint
Priority: extra
Maintainer: Patrick Farrell <patrick.farrell06@imperial.ac.uk>
Build-Depends: debhelper (>= 7.0.50~), libpetsc3.1-dev, gfortran (>= 4:4.4.4-1ubuntu2), python-ctypeslib
Standards-Version: 3.8.4
Section: libs
Homepage: http://amcg.ese.ic.ac.uk/pfarrell

Package: libadjoint-dev
Section: libdevel
Architecture: any
Depends: libadjoint (= ${binary:Version})
Description: A library for adjointing computational models
 A library for adjointing computational models

Package: libadjoint
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A library for adjointing computational models
 A library for adjointing computational models
