Source: libadjoint
Priority: extra
Maintainer: Patrick Farrell <patrick.farrell06@imperial.ac.uk>
Build-Depends: debhelper (>= 7.0.50~), libpetsc3.1-dev, gfortran-4.5, python (>= 2.5), python-ctypeslib
Standards-Version: 3.9.1
XS-Python-Version: >= 2.5
Section: libs
Homepage: http://amcg.ese.ic.ac.uk/pfarrell

Package: libadjoint-dev
Section: libdevel
Architecture: any
Depends: libadjoint (= ${binary:Version}), ${misc:Depends}
Description: A library for adjointing computational models (development headers)
 Libadjoint is a library for adjointing computational models. This package
 contains the development headers needed to link against libadjoint.

Package: libadjoint
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A library for adjointing computational models
 Libadjoint is a library for adjointing computational models. It aims to
 make adjointing models easy (or rather, as easy as possible). Its fundamental
 abstraction is that a model is a sequence of linear solves.
 .
 It provides an API by which the model developer may build a "tape" of 
 what the model does, in terms of the linear solves that it executes.
 This tape may then be "rewound" by libadjoint to compute the adjoint
 equation associated with every forward linear solve. It may also
 be "replayed", to compare the genuine forward model output against
 libadjoint's interpretation of the forward model.

Package: python-libadjoint
Section: python
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: libadjoint (= ${binary:Version}), ${python:Depends}, ${misc:Depends}
Description: A library for adjointing computational models (python interface)
 Libadjoint is a library for adjointing computational models. This package
 contains the Python bindings for the library (generated by ctypes).
