#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

DESTDIR = $(CURDIR)/debian/tmp

CMAKE_OPTS := \
	-DCMAKE_BUILD_TYPE=RelWithDebInfo \
	-DBUILD_SHARED_LIBS:BOOL=ON \
	-DLIBADJOINT_PYTHON_INSTALL_ARGS="--install-layout=deb --root=$(DESTDIR)"

%:
	dh $@ --with=python2 --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- $(CMAKE_OPTS)
